.footer {
    background-color: #000;
    color: #fff;
    height: 100vh;
    width: 100%;
    text-align: center;
    padding: 10vh 5vw;
    transform: translateY(10%);
    opacity: 0;
    transition: 1s ease;
}
.footer--zoom {
    opacity: 1;
    transform: translateY(0);
}
.footer_logo {
    color: #fff;
    font-size: 3em;
    text-transform: capitalize;
    padding-bottom: .5em;
    font-family: 'Kaushan Script', cursive;
}
.footer_title span {
    font-size: .5em;
}

.footer p {
    color: #f4f4f4;
}

.footer span {
    display: block;
    color: #eee;
    margin: .5em 0;
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 5vh 0;
    }
    .footer_logo {
        font-size: 3.5em;
        letter-spacing: .2em;
        padding-top: 40vh;
    }
    .footer_title {
        font-size: 1.5em;
        margin-bottom: 1em;
    }
    .footer p span {
        font-size: .8em;
    }

}