.footer {
    background-color: #000;
    color: #fff;
    height: 100vh;
    width: 100%;
    text-align: center;
    padding: 10vh 5vw;
    opacity: 0;
    transition: 1.5s ease;
    text-transform: capitalize;
    position: relative;
}
.footer--zoom {
    opacity: 1;
    min-height: 100vh;
}
.footer_logo {
    color: skyblue;
    letter-spacing: .2em;
    font-size: 4em;
    font-weight: 900;
    text-transform: capitalize;
    padding: 0;
    font-family: 'Kaushan Script',cursive;
    padding-top: 5vh;
    margin-bottom: .5em;
}

.footer_title {
    color: #ddd;
    font-size: 1.5em;
    margin-bottom: 5vh;
}

.footer .copyright-div {
    position: absolute;
    width: 100%;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2em;
}

.footer .copyright-div p {
    color: #f4f4f4;
}
.footer .git-link a {
    display: block;
    text-decoration: none;
    color: skyblue;
    padding: .5em 0;
    transition: .2s ease;
}
.git-link a:hover {
    color: #fff;
}
.footer span {
    display: block;
    color: #eee;
    margin: .5em 0;
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 5vh 0;
        margin-top: 5vh;
    }
    .footer_logo {
        font-size: 3.5em;
        padding-top: 15vh;
    }
    .footer_title {
        font-size: 1.5em;
        /* margin-bottom: 1em; */
    }
    .footer p span {
        font-size: .8em;
    }

}