.footer {
    background-color: #000;
    color: #fff;
    height: 100vh;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 10vh 10vw;
    opacity: 0;
    transition: 1.5s ease;
    text-transform: capitalize;
    position: relative;
}
.footer--zoom {
    opacity: 1;
    min-height: 100vh;
}
.footer_logo {
    color: skyblue;
    letter-spacing: .2em;
    font-size: 4em;
    font-weight: 900;
    text-transform: capitalize;
    padding: 0;
    font-family: 'Kaushan Script',cursive;
    padding-top: 5vh;
    margin-bottom: .5em;
    transform: translateX(-100%);
    transition: 1s;
    transition-delay: .5s;
    opacity: 0;
}
.footer--zoom .footer_logo {
    opacity: 1;
    transform: translateX(0);
}

.footer_title {
    color: #f4f4f4;
    font-size: 1.5em;
    margin-bottom: 5vh;
    transform: translateX(-100%);
    transition: 1s;
    transition-delay: .7s;
    opacity: 0;

}
.footer--zoom .footer_title {
    transform: translateX(0);
    opacity: 1;
}
.footer_social {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161616;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
    padding: 1em;
    gap: 1.5em;
    border: none;
    outline: none;
    box-shadow: inset 2px 2px 3px #fffa,
                inset -2px -2px 3px #000a;
}


.social_link {
    font-size: 2em;
    cursor: pointer;
    transition: .2s ease;
    border-radius: 100%;
    transform: scale(30%);
    opacity: 0;
}

.social_link:hover {
    fill: skyblue;
    background-color: #333;
    transition: all .2s ease;
}
.footer--zoom .social_link {
    transition: 1s ease;
    transform: scale(1);
    opacity: 1;
}
.footer--zoom .social_link:nth-child(1) {
    transition-delay: 1s;
}
.footer--zoom .social_link:nth-child(2) {
    transition-delay: 1.2s;
}
.footer--zoom .social_link:nth-child(3) {
    transition-delay: 1.4s;
}

.footer .copyright-div {
    position: absolute;
    width: 100%;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2em;
}

.footer .copyright-div p {
    color: #f4f4f4;
}
.footer .git-link a {
    display: block;
    text-decoration: none;
    color: skyblue;
    padding: .5em 0;
    transition: .2s ease;
}
.git-link a:hover {
    color: #fff;
}
.footer span {
    display: block;
    color: #eee;
    margin: .5em 0;
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 5vh 5vw;
        margin-top: 5vh;
    }
    .footer_logo {
        font-size: 3.5em;
        padding-top: 15vh;
    }
    .footer_title {
        font-size: 1.5em;
        /* margin-bottom: 1em; */
    }
    .footer p span {
        font-size: .8em;
    }

}