.hero {
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin-bottom: 5vh;
    background-image: url(/src/assets/hero-min.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.hero_image {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero_title {
    position: absolute;
    top: 60vh;
    right: 10%;
    color: #fff;
    font-size: 4rem;
    padding: 15px;
}

.hero_title span {
    display: block;
    font-size: 2rem;
    text-transform: capitalize;
    color: #fffa;
}

@media screen and (max-width: 768px) {
    .hero_title {
        text-align: center;
        top: 55%;
        font-size: 3rem;
    }
    .hero_title span {
        font-size: 1.5rem;
    }
}