.slider {
    display: flex;
    align-items: center;
    margin: 10vh 10vw;

    opacity: 0;
    transform: scale(85%);
    transition: 1.5s;
    position: relative;
}
/* .slider::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: -1;
} */

.slider--zoom {
    opacity: 1;
    transform: scale(100%);
    transition: 1.5s;
}

.slider_image {
    width: 60%;
    border-radius: 3px;
}

/* flex: 1 allows slider content to take up remaining space not taken up by the image(width=60%) */
.slider_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: left;
}

.slider_title {
    text-align: left;
    margin-bottom: .3em;
    font-size: 2em;
}

