.slider {
    display: flex;
    align-items: center;
    margin: 5vh 10vw;
    padding: 5vh .5em;
    opacity: 0;
    transform: scale(85%);
    transition: 1.5s;
    position: relative;
    background-color: #fff;
}

.slider--zoom {
    opacity: 1;
    transform: scale(100%);
    transition: 1.5s;
}

.slider_image {
    width: 60%;
    border-radius: 3px;
}

/* flex: 1 allows slider content to take up remaining space not taken up by the image(width=60%) */
.slider_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: left;
}

.slider_title {
    text-align: left;
    margin-bottom: .3em;
    font-size: 2em;
}

@media screen and (max-width: 800px) {
    .slider {
        flex-direction: column;
        background-color: #fffa;
        text-align: center;
        margin: 1em 10vw;
        padding: 0;
    }
    

    .slider_image {
        width: 100%;
    }
    .top_image {
        margin-top: 5vh;
    }
    .slider_title {
        font-size: 1.3em;
        margin-bottom: .5em;
        text-align: center;
    }

    .slider_content {
        width: 100%;
        padding: 1em 0;
        text-align: center;
    }
}